/tests export-ignore
/.github export-ignore
/examples export-ignore
/.gitignore export-ignore
/.phpcs.xml export-ignore
/psalm.xml export-ignore
/.gitattributes export-ignore
/README.md export-ignore

*.php diff=php
*.phar -diff
